<!DOCTYPE HTML>
<html>
    <head>
        <title>
            My Yelpclone title
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class = "jumbotron">
            <div class="container">
                Hello I am yelp clone application
                <form action = "/submit">
                    <input type="text" name="location" placeholder="Enter a City name">
                    <input type="text" name="term" placeholder="Enter a Search term">
                    <input type="submit" value="submit" class="btn btn-primary"> 
                </form>
            </div>
        </div>
    </body>
</html>